html,body{
	margin:0;
	height: 100%;
}
#cont{
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
#tanques,#partidas{
	background-color: WhiteSmoke;
	height: 70%;
}
#misTanques,#misPartidas{
	height: 100%;
	border:1px solid black;
}
#crearTanque, #crearPartida{
	width:100%;
	height: 30px;
	border:1px solid black;
	border-top:0px;
	cursor: pointer;
}
#tanques{
	width:50%;
}
#misTanques{
	border-right:0px; 
}
#crearTanque{
	border-right:0px; 
}
#partidas{
	width: 20%;
}