*{
	/*border:1px solid green;*/
}
html,body{
	/*margin:0 auto;*/
	/*height: 99%;*/
}
#cont{
	height: 500px;
	display:flex;
	justify-content: center;
	margin-top: 10px;
}
#tanques,#partidas{
	background-color: WhiteSmoke;
	height: 100%;
}
#misTanques,#misPartidas{
	overflow: auto;
	height: 82%;
	border:1px solid black;
}
#crearTanque, #crearPartida{
	height: 10%;
	width:100%;
	/*box-sizing:border-box;*/
	border:1px solid black;
	border-top:0px;
	cursor: pointer;
}
#tankName,#nombrePartida, #casillas{
	height: 7%;
	width:100%;
	box-sizing:border-box;
	border:1px solid black;
	border-top:0px;
}
#tanques{
	width:50%;
}
#misTanques{
	border-right:0px; 
}
#crearTanque,#tankName{
	border-right:0px; 
}
#partidas{
	width: 20%;
}
#datosPartida{
	height: 7%;
	display:flex;
}
#nombrePartida, #casillas{
	height: 100%;
	width:50%;
}
#casillas{
	border-left: 0px;
}
.selected{
	background-color: lightgray;
}
.nombre{
	margin-top: 0;
}
.tank{
	padding:10px 0 10px;
}
hr{
	margin:0px;
}