#cont{
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items: center;
}
#game,#board{	
	display: flex;
	width: 500px;
}
#board,.casilla{
	border: 1px solid gray;
}
/*#game{
	align-items: center;
	height: 70px;
	justify-content: space-around;
}*/
#board{
	background-color: lightgray;
	height: 500px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.casilla{
	position:relative;
	display:flex;
	justify-content: center;
	/*background-size: 100% 100%;*/
}
.vida{
	/*color:ghostwhite;*/
	font-family: Montserrat;
	font-size: 18px;
	-webkit-text-fill-color:white;
	-webkit-text-stroke:1px black;
	position:absolute;
	bottom: -5px;
	right: 0px;
}